.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.register-container {
    height: 100vh;
  background-color: #7b2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background: #f4f4f4;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}

select {
  padding: 10px;
  border-radius: 10px;
  border: none;
}