<div class="container">
  <div class="card">

    <img src="assets/logo.png" class="logo" />

    <h2>Create your Account</h2>

    <div class="grid">
      <input type="text" placeholder="Full Name" />
      <input type="text" placeholder="Student/Staff ID" />

      <input type="email" placeholder="Email Address" />
      <select>
        <option>Select Department</option>
      </select>

      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
    </div>

    <button class="btn">Create Account</button>

    <p class="signin">
      Already have an account? <span>Sign In</span>
    </p>

  </div>
</div>