<div class="login-container">
  <div class="login-card">
    
    <img src="assets/logo.png" alt="University Logo" class="logo">

    <h1>Administrator Sign In</h1>
    <p class="subtitle">Manage school fees and student submissions</p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <label>University Email</label>
      <input 
        type="email" 
        name="email"
        [(ngModel)]="email"
        placeholder="name@liceo.edu.ph"
        required
      />

      <div class="form-group">
        <div class="label-row">
          <label>Password</label>
          <a href="#" class="forgot">Forgot password?</a>
        </div>

        <input 
          type="password" 
          name="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <button type="submit">Access Portal</button>

    </form>

    <div class="divider"></div>

    <p class="register">
      Don't have an account? <a href="/register">Register</a>
    </p>


    <footer>
      © 2024 Liceo de Cagayan University - Pay-to-Permit System
    </footer>

  </div>
</div>